@use 'base/variables' as v;
@use 'base/mixins' as m;

.contenido-resumen {
    padding: 0 3rem;

    .contenedor-servicios {
        border-bottom: 1px solid v.$gris;
        padding: 2.5rem 0;

        .precio-servicios {
            span {
                font-weight: bold;
                color: v.$azul;
                font-size: 2rem;
            }
        }
    }

    .contenedor-cita {
        margin: 5rem 0;
        h3 {
            margin-bottom: 5rem;
        }
        p {
            span {
                font-weight: bold;
                color: v.$verde;
                font-size: 2rem;
            }
        }
        .reservar-contenedor {
            display: flex;
            justify-content: center;
        }
    }
}