@use 'base/variables' as v;
@use 'base/mixins' as m;

.tabs {
    display: flex;
    width: 100%;
    height: 4.5rem;

    button {
        width: 100%;
        text-transform: uppercase;
        font-weight: v.$bold;
        font-size: 1.3rem;
        background-color: v.$azul;
        color: v.$blanco;
        border: none;
        border: 1px solid black;
        transition: all .3s ease-in-out;
        @include m.tablet{
            font-size: 1.6rem;
        }

        &:hover {
            cursor: pointer;
            background-color: darken(v.$azul, 15);
        }

        &.actual{
            background-color: v.$blanco;
            color: v.$azul;
        }
    }

}