@use 'variables' as v;
@use 'base/mixins' as m;

h1, h2, h3 {
    font-family: v.$fuente_principal;
    margin: 2.5rem 0;
    font-weight: 900;
    color: v.$blanco;
    text-align: center;
}

h1 {
    font-size: 3rem;
    @include m.tablet {
        font-size: 4rem;
    }
}
h2 {
    font-size: 2.6rem;
    @include m.tablet {
        font-size: 3.6rem;
    }
}
h3 {
    font-size: 2rem;
    text-align: center;
    @include m.tablet {
        font-size: 3rem;
    }
}
p {
    color: v.$blanco;
    font-size: 2rem;
}

.nombre-pagina {
    text-align: center;
    margin: 5rem 0;
    font-weight: v.$bold;
    padding: 0 3rem;
    font-size: 3rem;
    @include m.tablet {
        font-size: 5rem;
    }

}

.descripcion-pagina {
    text-align: center;
    font-size: 1.7rem;
    margin-bottom: 2rem;
    padding: 0 3rem;
    font-size: 1.4rem;
    @include m.tablet {
        font-size: 1.6rem;
    }
}
