@use 'base/variables' as v;
@use 'base/mixins' as m;

#citas-admin {
    .citas {
        list-style-type: none;
        padding: 0 2rem;
        .citas-li {
            border-bottom: 1px solid v.$gris;
            padding: 2.5rem 0;
            &:last-child {
                border: none;
            }
            p {
                color: v.$azul;
                font-weight: v.$bold;
                span {
                    color: v.$blanco;
                    font-weight: 100;
                }
            }
        }
    }
}