@use 'base/variables' as v;
@use 'base/mixins' as m;

.seccion {
    display: none;
    margin: 5rem 0;
    
    .text-center {
        text-align: center;
    }

    p {
        font-size: 1.6rem;
    }
}

.mostrar {
    display: block;
}
.ocultar {
    display: none;
}