@use 'base/variables' as v;
@use 'base/mixins' as m;

.contenedor-app {
    @include m.tablet {
        @include m.grid(2, 1fr);
        height: 100vh;
    }

    .imagen {
        height: 20rem;
        background-image: url(../img/1.webp);
        background-size: cover;
        background-position: center center;
        @include m.tablet {
            height: auto;
        }
    }

    .app {
        width: 100%;
        margin: 0 auto;
        padding: 3rem 0;
        box-sizing: border-box;
     
        @include m.tablet {
            overflow: scroll;
            overflow-x: hidden;
            padding-right: 1.5rem;
            padding-left: 1.5rem;
        }
        
        &::-webkit-scrollbar {
            width: 0.9rem;
        }
 
        &::-webkit-scrollbar-thumb {
            background-color: rgba(255,255,255, .4);
            border-radius: 5px;
        }
    }

    .contenedor-principal-usuario {
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin: 0 2rem;
        height: 10rem;

        .usuario-data {
            display: flex;
            align-items: center;
            gap: 1rem;
        }
    }
    
}